<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Facial</title>
</head>
<body>
    <h1>Cadastrar novo usuário</h1>
    <form method="post">
        <label>Nome:</label><br>
        <input type="text" name="nome" required><br>
        <label>Sobrenome:</label><br>
        <input type="text" name="sobrenome" required><br>
        <label>Curso:</label><br>
        <input type="text" name="curso" required><br>
        <label>Período:</label><br>
        <input type="text" name="periodo" required><br><br>
        <button type="submit">Cadastrar e Capturar Rosto</button>
    </form>
</body>
</html>
